/* style */

/* 自訂附加 Reset ====== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*a{
  text-decoration: none;
}
*img{
  display: block;
  vertical-align: middle;
}
/* 自訂附加 Reset ====== */

body {
  font-family: "Bruno Ace SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #000000;
  color: #ffffff;
}

h1{
  color:#00FFA3 ;
  font-size: 128px;
}

h2{
  font-size: 64px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 20px;
}
p{
  font-size: 16px;
}

.container{
  max-width: 1296px;
  margin: 0 auto;
  // outline: 1px solid red;
}

ul.nav{
  display: flex;
  justify-content: space-between;
  padding: 48px 0 0 0;

  li{
    align-items: flex-start;
    width: 306px;
    font-size: 16px;
    line-height: 24px;

    a{
      color: #D1D1D1;

      &:hover{
        color: #00FFA3;
      }
    }

    &:nth-last-child(1){
      text-align: right;
    }
  }
}

/* layout */
.d-flex{
  display: flex;
}
.mb-28{
  margin-bottom: 28px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-36{
  margin-bottom: 36px;
}
.mb-72{
  margin-bottom: 72px;
}
.mb-96{
  margin-bottom: 96px;
}
.mb-160{
  margin-bottom: 160px;
}
.gy-16{
  gap: 0 16px;
}
.gy-24{
  gap: 0 24px;
}


.header{
  display: flex;
  justify-content: space-between;
}
.hdeaer-img{
  width: 50%;
  margin-right: 1.5rem;
}
.header-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.intro-bg{
  background: url("../images/background-img.png") no-repeat center center;
  background-size: cover;
  padding: 160px 0;
}
.intro{
  display: flex;
  justify-content: space-between;
}
.intro-text{
  width: 41.6666666667%;
  display: flex;
  flex-direction: column;
}
.intro-img-box{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}


.bg-white{
  background-color: #fff;
  padding: 160px 0;
}
.about{
  display: flex;
  justify-content: space-between;
}
.about-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  gap: 24px;
  padding: 46px 0;
}
.about-card{
  width: 48% ;
  color: #15161D;
  padding: 16px;
  border: 1px solid #E3E3E3;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, .1));
}
.about-item{
  width: 41.6666666667%;
  color: #15161D;
}

.contact{
  display: flex;
  justify-content: space-between;
}
.contact-text{
  display: flex;
  align-items: center;
  flex: 1;

  h2 {
    margin-right: 10px;

    img{
      display: inline-block;
    }
  }
}
.contact-item{
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 41.6%;

  a{
    display: block;
    img{
      width: 162px;
      height: 162px;
    }

    &:hover{
      box-shadow: 0 0 16px 3px rgba(144, 148, 255, 0.9);
      border-radius: 40px;
    }
  }
}


.project{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
}
.projcet-img{
  align-self: flex-end;
  width: 25%;
}

.project-content{
  flex: 1;
  display: flex;
  flex-direction: column;

  h2{
    width: 90%;
    align-self: flex-end;
    margin-bottom: 16px;
  }
}
.project-item{
  display: flex;
  gap: 0 24px;
  margin-bottom: 28px;

  .project-item-img{
    display: flex;

  }
  .project-item-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #000;
  }
}
.project-pic{
  display: flex;
  justify-content: space-between;
}


.footer{
  padding: 40px 0;
  text-align: center;

  p{
    margin: 0 auto;
  }
}



/* button */
.btn{
  width: 185px;
  display: block;
  padding: 12px 24px;
  border-radius: 32px;

  img{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }

  &:hover{
    opacity: 0.8;
  }
}

.btn-white{
  color: #000;
  background-color: #fff;
}
.btn-black{
  color: #fff;
  background-color: #000;
}

.text-black{
  color: #000;
}